__pycache__
.vscode
.pytest_cache
.mypy_cache
.DS_Store
.venv
*.log
*.cdf
sp/fgm_utils/temp*/
\**/*.gitignore
log/
*.csv
sp/fgm_utils/floop*/
sp/fgm_utils/att_csv*/
sp/fgm_utils/fitting_csv*/
sp/fgm_utils/test*/
sp/fgm_utils/f_loop*/